body {
	background-color: rgba(227, 241, 243, 0.4);
	font-family: sans-serif;
}

.header {
	text-align: center;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: start;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
.main-section {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table {
	width: 400px;
	padding: 15px;
}
.table-caption {
	font-weight: bold;
	text-align: left;
	padding: 10px;
}
.table-caption p {
	margin: 5px 0;
}
.table-thead {
	background-color: lightgray;
	color: gray;
	height: 40px;
}
.table-thead-trains-p {
	cursor: pointer;
	margin: 0;
}

.table-tbody-tr-td {
	padding: 7px;
	text-align: center;
	border-bottom: 1px solid black;
}
.table-tbody-tr-td-input {
	text-align: right;
	border: none;
}

.checked-train-btn {
	height: 50px;
	width: 150px;
	border-radius: 10px;
}
